.editEmployee input {
	width: 95%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
	text-align: left;
}

.editEmployee input:focus {
	border: 1px solid #a8a8a8;
}

.editEmployee input[type=submit],
.editEmployee input[type=button] {
	float: right;
	margin: -20px 20px 10px 0px;
}

.editEmployee {
	border-radius: 5px;
	background-color: #f8f8f8;
	padding: 40px;
	width: 40%;
    border-radius: 1rem;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 1px 1px 5px #888888;
}

.editEmployeeHeader {
	text-align: center;
}